* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background-color: #111827;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 70px;
    height: auto;
    object-fit: contain;
    display: block;
}

.nav-links a:hover {
    color: #3b82f6;
}

.menu-btn {
    display: none;
    cursor: pointer;
}

.menu-btn img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: 0.3s;
}

/* responsive */
@media(max-width:768px) {

    .menu-btn {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background: #111827;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        display: none;
    }

    .nav-links.active {
        display: flex !important;
    }
}

/* img slide */
.slider {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.slide-content{
    z-index: 2;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 100;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}
.prev:hover,
.next:hover {
    background: rgba(0, 0, 0, 0.8);
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    width: 80%;
}